.textContainer {
    width: 306px;
    background-color: darkgray;
}
.greetUsers{
    background-color: skyblue;
}
.photo {
    width: 306px;
    height: 400px;
    background-color: darkgray;
}
.container{
    border: 1px solid;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: cadetblue;
}
.wrapper{
    border: 1px solid;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}
@media (max-width: 767px) {
    .wrapper{
        justify-content: center;
        align-items: flex-start;
        height: 100vh;
    }
}