.header {
    height: 80px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 767px) {
    .header{
        justify-content: center;
    }
}