.projectBlock {
    border: 1px solid;
    width: 400px;
    background-color: #61dafb;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imgContainer {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.previewButton {
    background-color: #ebf3db;
    width: 150px;
    height: 40px;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
}

.projectDescription {
    width: 80%;
    text-align: left;
}

.title {
    background-color: cornsilk;
    width: fit-content;
}

.description {
    background-color: cornsilk;
}

@media (max-width: 767px) {
    .projectBlock {
        margin-block: 15px;
    }
}